@media screen and (max-width: 800px){
    form{
        flex-direction: column; 
    }


    fieldset{
        width: 80%; 
    }

    #game_sec{
        flex-direction: column;
    }

    body{
        height: 100%;
    }

    #stats_table{
        width: 30%;
    }

    #table_sec td{
        height: 5em;
    }

    #stats_table_section{
        overflow: scroll;
    }
}