    /* Flex as parent */ 
    /* Flex as child */ 
    /* Other */



body, html{
    height: 100%; 
    width: 100%; 
    margin: 0;
    display: flex; 


    /* Flex as parent */ 
    display: flex; 
    flex-direction: column; 
}

/* ---------------------------- HEADER (DONE)  ---------------------------- */

/* HEADER */ 
                header{
                    /* Flex as parent */ 
                    display: flex; 
                    flex-direction: column; 
                    justify-content: center;
                    align-items: center; 

                    /* Flex as child */ 
                    flex: 1; 

                    /* Other */ 
                    background-color: #004047;
                }

                header p:nth-child(1) {
                    /* Flex as child */ 
                    flex: 1; 

                    /* Other */ 
                    color: white; 
                    font-size: 1em; 
                    font-weight: bold;  
                }

                header p:nth-child(2){
                    /* Flex as child */ 
                    flex: 1;

                    /* Other */ 
                    font-size: 0.7em;
                    color: black; 
                    background-color: #f5deb3;
                    padding: 0.2em; 
                }

                .highlight{
                    background-color: #ffff00; 
                }

/* ---------------------------- CONTENT ---------------------------- */
/* CONTENT */ 
                #content{
                    /* Flex as parent */ 
                    display: flex;
                    flex-direction: column;
                    justify-content: center; 
                    align-items: center; 

                    /* Flex as child */ 
                    flex:  12; 

                    /* Other */
                    background-color: #bee5bf; 
                    padding: 1em;
                }

    /* Settings */
                #settings_sec{
                    /* Flex as parent */
                    display: flex; 
                    justify-content: center; 
                    align-items: center; 


                    /* Flex as child */ 
                    flex: 1; 

                    /* Other */
                    background-color: #dff3e3;
                    width: 100%; 
                    border: 0.2em dotted red;
                    border-radius: 1em;
                    margin-bottom: 0.8em;
                    padding: 0.2em 0 0.5em 0 ;
                }

                form{
                    /* Flex as parent */
                    display: flex;
                    flex-direction: row; 
                    justify-content: space-evenly; 
                    align-items: center;


                    /* Flex as child */ 
                    flex: 1; 

                    /* Other */


                }

                #nameGuide{
                    visibility: hidden;
                    position: absolute;
                    background-color: #e4e2e2;
                    bottom: 85%;
                }

                fieldset:hover #nameGuide{
                    visibility: visible;
                }

                fieldset{
                    /* Flex as parent */ 
                    display: flex;
                    justify-content: center;
                    /* Flex as child */ 

                    /* Other */
                    width: 20%;
                    border-radius: 10px;
                    background-color: white; 
                }

                legend{
                    background-color: #e4e2e2;
                    border-radius: 10px; 
                    padding: 0.3em;
                }

                input{
                    border-radius: 0.5em;
                }

    /* Game */
                #game_sec{
                    
                    /* Flex as parent */
                    display: flex; 
                    flex-direction: row; 
                    justify-content: center; 

                    /* Flex as child */
                    flex: 8; 

                    /* Other */
                    border: 0.2em solid #ff0000; 
                    border-radius: 1em;
                    width: 100%;
                    background-color: #d3d3d3;
                }

        /* Stats */
                #stats_sec{
                    /* Flex as parent */ 
                    display: flex;
                    flex-direction: column;
                    justify-content: center; 
                    align-items: center; 
                    /* Flex as child */ 
                    flex: 1;
                    /* Other */
                    background-color: #f5f5f5;
                    padding: 1em;
                    margin: 1em;
                    border: 0.1em solid #f5f5f5;
                    border-radius: 1em;

                }

                #stats_sec > p:nth-of-type(1){
                    flex: 1; 
                    font-weight: bold;
                    text-align: center;
                    margin: 0.8em 0 0 0;

                    display: flex;
                    align-items: center;
                    font-size: 1em;
                }

                #stats_sec > p:nth-of-type(2){
                    flex: 1; 
                    margin: 0;
                    display: flex;
                    align-items: center;
                }

                #stats_sec section:nth-child(1){
                    /* Flex as parent */ 
                    display: flex; 
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    /* Flex as child */ 
                    flex: 1;
                    /* Other */
                    border: 0.1em solid #2f4f4f; 
                    background-color: #2f4f4f;
                    color: white; 
                    border-radius: 1em;
                    width: 60%;
                }

                .timer{
                    flex: 1; 
                    margin: 0.3em 0 0.3em 0;
                }

                #stats_sec > button{
                        /* Flex as parent */ 
                        /* Flex as child */ 
                        flex: 1; 
                        /* Other */
                    color: #fffffb;
                    /*background-color: #ff0000;*/
                    background-color: lightgrey;
                    border: #e3e3e3;
                    border-radius: 0.5em;
                    font-weight: bold;
                    margin-top: 0.5em;
                    cursor: pointer;
                }

                #stats_buttons button{
                    background-color: #ff0000;
                    color: white;
                    font-weight: bold; 
                    border-radius: 0.5em;
                    padding: 0.3em;
                    cursor: pointer;
                }

                #stats_table_section{
                    /* Flex as parent */ 
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start; 
                    align-items: center; 

                    /* Flex as child */ 
                    flex: 5; 

                    /* Other */
                    margin-top: 1em;
                    
                }

                #stats_table{
                    border-collapse: collapse;
                    
                }

                #stats_table tbody tr:nth-child(odd) {
                background-color: #e0ffff;
                }
                
                #stats_table th{
                    background-color: #00ad67;
                    color: white;
                    border: 0.1em solid #f2f2f2;
                    padding: 0.5em 1em 0.5em 1em;
                    cursor: pointer;
                }

                #stats_table td{
                    padding: 0.5em;
                    border: 0.1em solid #f2f2f2;

                }


        /* Game side */ 

                #render_sec{
                    /* Flex as parent */ 
                    display: flex;
                    flex-direction: column;
                    justify-content: center; 
                    align-items: center; 
                    
                    /* Flex as child */ 
                    flex: 2;
                    /* Other */
                    padding: 1em;
                    margin: 1em;
                    background-color: #cee2d2;
                    border: 0.1em solid #cee2d2;
                    border-radius: 1em;

                }

                #prompt_sec{
                    display: flex; 
                    flex-direction: row; 
                    justify-content: space-between; 
                    flex: 1;
                    width: 100%;
                    border: 0.1em solid #800000;
                    border-radius: 1em;


                }

                #prompt_text_sec{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 1em;
                    flex: 5; 
                }

                #prompt_text_sec p{
                    margin: 0;
                    flex: 1; 
                }
                #color_span{
                    border-radius: 10px;
                    padding: 5px;
                }

                #submit{
                    flex: 1;
                    margin: 0.5em; 
                    /*background-color: #ff0000; */
                    background-color: lightgrey;
                    color: white; 
                    border-radius: 1em;
                    font-weight: bold;
                    cursor: pointer;
                }
                
                #table_sec{
                    flex: 5;
                    display: flex;
                    width: 100%;
                }
                #game_table{
                    flex: 1;
                    cursor: pointer;
                }
                #game_table td{
                    border: 0.2em solid #cee2d2;
                    text-align: center;
                }
                .cheats{
                    display: block;
                    background-color: white;
                    width: 100%;
                }

/* ---------------------------- FOOTER (DONE) ---------------------------- */
/* FOOTER */ 
                footer{
                    /* Flex as parent */ 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    /* Flex as child */ 
                    flex: 1; 

                    /* Other */ 
                    background-color: #004047;
                    color: white; 
                }


/* ----------------------------------------------------------------- */